<div class="main">
	<div class="logo">
		<img src="img/google.png">
	</div>
	<form action ="/results" method = "post">
		<input class="text" name ="search"/>
		<button class="button">Search</button>
	</form>
</div>
